@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#navbar-container-1 {
  background-color: black;
  color: white;
  padding: 15px;
  border-bottom: 1px solid rgb(66, 66, 66);
}
#ticketmaste-icon {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#right-icon {
  font-size: 10px;
}

#nav-info-title {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
}
#Matt-Rife {
  width: 150px;
}
#more-info {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-left: 15px;
}
#tour-title {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
#date-time {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#city-state-event {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#sideBar {
  /* border: 1px solid red; */
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  width: 570px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid rgb(100, 100, 100);
  padding: 10px;
}

#ticketOptionBar {
}
#select-ticket-option-container {
}
#select-ticket-option {
  font-family: "Lato", sans-serif;
  width: 550px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  padding: 10px;
  color: rgb(18, 18, 18);
  border-radius: 10px;
}
#price-tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-top: 1px solid rgb(100, 100, 100); */
  border-bottom: 1px solid rgb(100, 100, 100);
  text-align: center;
  font-family: "Lato", sans-serif;
}
#price-link {
  padding: 13px;
  width: 400px;
}
#seat {
  display: flex;
  flex-direction: column;
}
#scroll {
  height: 400px;
  overflow: scroll;
}
#tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(100, 100, 100);
  width: 550px;
  padding: 10px;
}
#seat-number {
  font-size: 16px;
  font-weight: 600;
  color: rgb(38, 38, 38);
  line-height: 24px;
  font-family: "Lato", sans-serif;
}
#station {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  color: rgb(100, 100, 100);
}
.price {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(2, 77, 223);
  font-family: "Lato", sans-serif;
}
.price:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
}
